.weather {
  .icon {
    &.icon-cloudy {
      background-image: url("../../../assets/images/cloudy.svg");
    }
    &.icon-default {
      background-image: url("../../../assets/images/default.svg");
    }
    &.icon-sunny {
      background-image: url("../../../assets/images/sunny.svg");
    }
    &.icon-snow {
      background-image: url("../../../assets/images/snow.svg");
    }
    &.icon-rain {
      background-image: url("../../../assets/images/rain.svg");
    }
    &.icon-thunderstorm {
      background-image: url("../../../assets/images/thunderstorm.svg");
    }
  }

  &.today {
    margin-bottom: 50px;
    .icon {
      height: 100px;
      width: 100px;
      background-size: 100px 100px;
      background-repeat: no-repeat;
      margin-left: 20px;
    }
    .header {
      margin-bottom: 50px;
      .location {
        font-size: 1.5rem;
      }
      .date {
        font-size: 2rem;
      }
    }

    .content {
      .description {
        font-size: 1.5rem;
        margin-top: -5px;
      }
    }
    .temperature {
      float:right;
      font-size: 4rem;
      text-align: right;
      line-height: 4rem;
    }

    sup {
      font-size: 40%;
      top: -1.5em;
    }
  }
  &.forecast {
    font-size: 16px;
    background-color: rgba(25, 33, 41, 0.65);

    .icon {
      height: 70px;
      width: 70px;
      background-size: 70px 70px;
      background-repeat: no-repeat;
    }
    .item{
      padding: 50px 0px;
    }
  }
}
@media (min-width: 992px) {
  .weather {
    &.today {
      .header {
        margin-bottom: 50px;
        .location {
          font-size: 2.5rem;
        }
        .date {
          font-size: 2rem;
        }
        .temperature {
          font-size: 11.5rem;
          line-height: 9.5rem;
          span {
            letter-spacing: -8px;
          }
        }
      }
    }
  }
}
